{#-{% set image = 'https://res.cloudinary.com/jamstatic/image/upload/f_auto,q_auto/w_1100,c_fit,co_white,g_north_west,x_80,y_120,l_text:poppins_80_ultrabold_line_spacing_-30:' ~ page.title|url_encode ~ '/jamstatic/twitter-card.png' %}-#}

{% extends '_default/page.html.twig' %}

{% block content %}
<article itemtype="https://schema.org/BlogPosting">
	{{ include('partials/post.html.twig', {p: page}) }}
	<main class="mx-auto prose sm:prose-lg lg:prose-xl dark:prose-dark" itemprop="articleBody">
		{{ page.content }}
	</main>
  <footer class="mx-auto prose sm:prose-lg lg:prose-xl dark:prose-dark mt-4">
    <button>
      ✏️ <a href="https://github.com/jamstatic/jamstatic-fr/edit/master/pages/post/{{ page.filepath }}" title="Éditer le contenu sur GitHub" class="no-underline hover:underline">Éditer cet article</a>
    </button>
    {% if page.categories|default(0) > 0 %}
    <hr class="my-2 dark:border-gray-800">
    <h3 class="text-2xl font-display text-rose dark:text-rose-400">Voir aussi</h3>
    <ul>
    {% for related in site.pages|filter(r => page.categories[0] in r.categories|default({}) and r.id != page.id) %}
      <li><a class="text-xl font-bold no-underline transition duration-200 text-violet hover:text-violet-light dark:text-blue-500 dark:hover:text-blue-300" href="{{ url(related) }}">{{ related.title }}</a></li>
    {% endfor %}
    </ul>
    {% endif %}
  </footer>
</article>
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
{% endblock %}
